.home_title .hover-effect {
    display: inline-block;
  }
  
  .home_title .letter {
    color:rgb(7, 7, 224);
    display: inline-block;
    opacity: 0; 
    animation: typing 1.5s steps(1) forwards;
  animation-iteration-count: infinite; /* Infinite loop */
  }
  
  .home_title .letter:nth-child(1) {
    animation-delay: 0s;
  }
  .home_title .letter:nth-child(2) {
    animation-delay: 0.1s;
  }
  .home_title .letter:nth-child(3) {
    animation-delay: 0.2s;
  }
  .home_title .letter:nth-child(4) {
    animation-delay: 0.3s;
  }
  .home_title .letter:nth-child(5) {
    animation-delay: 0.4s;
  }
  .home_title .letter:nth-child(6) {
    animation-delay: 0.5s;
  }
  .home_title .letter:nth-child(7) {
    animation-delay: 0.6s;
  }
  .home_title .letter:nth-child(8) {
    animation-delay: 0.7s;
  }
  .home_title .letter:nth-child(9) {
    animation-delay: 0.8s;
  }
  
  @keyframes typing {
    0% {
      opacity: 0;  /* Letter starts invisible */
    }
    50% {
      opacity: 1;  /* Letter becomes visible */
    }
    100% {
      opacity: 0;  /* Letter becomes invisible again */
    }
  }